<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static', filename='favicon/favicon.jpg')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kadai.css') }}">
    <title>購入完了</title>
</head>
<style>
    body{
        background-image: url("{{url_for('static',filename='images/back.jpg')}}");
        background-size: cover
    }
</style>
<body>
    <div class="button008">
    購入が完了しました。
    <a class href="{{url_for('mypageback')}}">トップメニューに戻る</a>
</body>
</html>