<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>商品一覧</h1>
    <a class href="{{url_for('food_list')}}">食品一覧</a>

    <h1>商品登録</h1>
    <a class href="{{url_for('food_register_input')}}">食品登録</a>

    <h1>商品削除</h1>
    <a class href="{{url_for('food_delete_input')}}">食品削除</a>

    <h1>商品の検索</h1>
    <a class href="{{url_for('food_search_input')}}">商品の検索</a>
</body>
</html>